.header-full-title,
#ar-brand {
  background-image: url('/static/images/fblogo.png');
  background-repeat: no-repeat;
  background-size: 25px 25px;
  background-position: 15px 50%;
  padding-left: 50px;
}

.selectize-input { max-height: 34px; }
.selectize-input img,
.selectize-dropdown-content img {
  max-height: 20px;
  margin-right: 5px;
}
.multi .selectize-input {max-height: 1000px;}
.composer-body {padding: 5px;}
.input-group-addon {cursor: pointer;}

.affix {
  top: 0px;
  max-width: 100%;
}
.affix-top {
  max-width: 100%;
}
.affix-bottom {
  max-width: 100%;
}

.left-nav {
  padding-top: 20px;
}

.left-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.left-nav ul li a {
  padding: 0px 0px 0px 10px;
}

.left-nav .active>a {
  color: #3A5A98;
  border-left: 2px solid #0099da;
}

.assetThumbnail {
    position: relative;
    width: 80px;
    height: 80px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.3),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
}

/* Image Asset Select */
span.glyphicon-chevron-right, span.glyphicon-chevron-left {
  font-size: 1.0em;
  color: #3A5A98;
}

.imageGrid {
  display: block;
  position: relative;
  top: 2px;
  width: 100%;
  overflow: auto;
}

.imageGridItem {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  float: left;
  padding: 10px;
  overflow: hidden;
  transition: all .5s linear;
  transition-delay: .1s;
}

.imageWrapper {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: all .5s linear;
    cursor: pointer;
    box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.3),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.imageGridItem:hover .imageWrapper{
    background-position: right;
}

#footer {
  background-color: #333;
  color: #ccc;
  padding: 17px 0;
  text-align: center;
  border-top: solid 1px #555;
}

/* Bootstrap callout */
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    word-wrap: break-word;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}
.bs-callout-error {
    border-left-color: #d9534f;
}
.bs-callout-error h4 {
    color: #d9534f;
}
.message {
  padding-top: 70px;
  padding-left: 10px;
}
