{% extends 'common/base.html' %}

{% block head_auxiliary %}
    <link href="//cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/themes/prism-okaidia.min.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/plugins/line-numbers/prism-line-numbers.min.css" rel="stylesheet">

    <script src="//cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/prism.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/components/prism-python.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/plugins/line-numbers/prism-line-numbers.min.js"></script>
{% endblock %}
{% load bootstrap %}
{% block require_js %}
  <script>
    // Add sample id to the config global var
    window.app_config = window.app_config || {};
    window.app_config.sample_id = '{{ request.sample.id }}';
  </script>
  <script data-main="sample.js" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.2.0/require.min.js"></script>
{% endblock %}

{% block body_tag %}
<body data-spy="scroll" data-target=".left-nav" style="overflow: visible;">
{% endblock %}

{% block body_block %}
  <div class="row">
    <!-- Left Navigation -->
    <div class="col-md-2 hidden-sm hidden-xs">
      <div class="left-nav" data-spy="affix" data-offset-top="100">
        <h5>Navigation</h5>
        <ul class="nav">
          <li>
            <a href="#sample-form">Try it!</a>
          </li>
          <li>
            <a href="#sample-reference">Sample Code</a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Main -->
    <div class="col-md-10 col-sm-12 col-xs-12">
      <a id="sample-form" class="anchor"></a>

      <!-- Sample description -->
      {% if request.sample_desc %}
        <div class="row sample-desc">
          <div class="col-xs-12">
            {{ request.sample_desc|safe }}
          </div>
        </div>
      {% endif %}

      <!-- message -->
      {% if messages %}
        {% for message in messages %}
          <div class="bs-callout bs-callout-{% if message.tags %}{{message.tags}}{% else %}info{% endif %}">
          	<h4>Result</h4>
            {% block sample_result %}
              {{message|safe}}
            {% endblock %}
          </div>
        {% endfor %}
      {% endif %}
      {% if message %}
        <div class="bs-callout bs-callout-error">
            {{message|safe}}
        </div>
      {% endif %}
      {% if request.session.fbuserid %}
        <hr>
        <div class="sample-form">
          {% block sample_ux %}
            <!-- sample form goes here -->
          {% endblock %}
        </div>
      {% else %}
        <!-- No logged in user, show login form -->
        {% block login_form %}
        <div class="row">
     	    <div class="col-xs-12">
            <form method="post" role="form" action="{% url 'auth:oauth' %}">
              {% csrf_token %}
              <fieldset>
                <input type="hidden" name="next"
                  value="{{request.get_full_path }}" />
                <button type="submit"
                  class="btn btn-lg btn-primary login-button">
                  Log In To Try The Sample
                </button>
    	        </fieldset>
            </form>
          </div>
        </div>
        {% endblock %}
      {% endif %}

      <a id="sample-reference" class="anchor"></a>
      {% block sample_docs %}
        <!-- sample docs -->
        {% if request.docs %}
        	<div class="row">
        	  <div class="col-xs-12">
        	    <h1>Sample Code</h1>
        	    <div class="pdoc-wrapper">
        	      {{request.docs|safe}}
        	    </div>
        	    <p><small>Documentation generated by <a href="https://github.com/BurntSushi/pdoc" target="_blank">pdoc 0.3.1</a></small></p>
              <link href="/static/css/codehilite.css" rel="stylesheet" type="text/css">
        	  </div>
        	</div>
      	{% endif %} <!-- if request.docs -->
      {% endblock %} <!-- sample doc -->

    </div><!-- Main col -->
  </div><!-- Main row -->
{% endblock %} <!-- body_block -->
