{% extends 'common/base.html' %}
{% block body_block %}
  <div class="row">
    <div class="col-xs-12">
      <h1>Confirm Delete Sample</h1>
      <div class="panel panel-default">
        <div class="panel-body">
          <form method="POST">
            {% csrf_token %}
            <p>Are you sure you want to delete sample "{{ object.friendly_name }}"?</p>
            <button type="submit" value="Confirm" class="btn btn-danger btn-lg">Confirm</button>
            <a href="{% url 'dash:sample_list' %}" class="btn btn-primary btn-lg">Cancel</a>
          </form>
          <h2>Sample Details</h2>
          <table class="table table-striped">
              <tr>
                <th>Id</th>
                <td>{{ object.id}}</td>
              </tr>
              <tr>
                <th>Name</th>
                <td>{{ object.friendly_name }}</td>
              </tr>
              <tr>
                <th>Description</th>
                <td>{{ object.description}}</td>
              </tr>
              <tr>
                <th>View Class</th>
                <td>{{ object.view_class}}</td>
              </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
